<!--We dont need to specify doctype here because this is a part of an html document and not an html document itself-->

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>